/* C:\Users\pc\Desktop\Royal Thalassa\Royal Elyssa\royalelyssav1\src\components\Footer\Footer.css */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Montserrat:wght@300;400;500&display=swap");

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-left {
  display: flex;
  animation: scroll-left 60s linear infinite;
  will-change: transform;
  min-width: max-content;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
